body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #EDEDED;
    /* Puedes cambiar el color de fondo según tu paleta de colores */
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav img {
    margin-top: 0;
    margin-left: 0;
    height: 80px;
    /* Ajusta el tamaño del logo según sea necesario */
}

nav ul {
    float: right;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento */
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0px 6px 1px 1px #bebebe;

}

ul li a:hover {
    background-color: #ddeefe;
    /* Cambia el estilo del texto al pasar el cursor sobre los botones */
}

.containBarcos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 600px;
}
.cuerpo img{
    width: 500px;
    margin-top: 5px;
}

.containForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
.Form{
    width: 50%;
}
.input{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    transition: border-color 0.3s, box-shadow 0.3s;
}
label {
    margin: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
button{
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin: 5px;
    background-color: #001F3F;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 10px 20px;
    padding: 20px;
}

.introduction {
    flex: 1;
    padding: 20px;
}

.objectives {
    flex: 1;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}
.containTituloBarcos{
    width: 100%;
    display: flex;
    justify-content: center;

}
input[type="submit"] {
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #007bff;
}

.footer-social {
    text-align: center;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}